@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400i|Montserrat:600);

/* fonts */
$header-one: 'Montserrat', sans-serif;

/* colors */
$beige: #dfd5c9;
$blue: #355e99;
$dark-grey: #505050;
